#hours {
	margin-top: 9px;
	margin-left: 28px;
}

#bordered {
	border: 1px solid #ccc;
	border-bottom: 2px solid #bbb;
	border-top: 1px solid #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 5px;
	margin-top:20px;
	padding: 10px;
}

.hours {
	margin-left: 28px;
}

.personal_hours {
	text-align: left;
	margin-top: 10px;
}

#teachers {
	margin-top: 9px;
}

#hour_group {
	float: left;
	margin: 5px 10px 5px 5px;
	text-align: left;
}

.tab_a {
	color: white;
	margin:10px;
}

.tab_a:hover {
	color: white;
}
.acronym {
	display:hidden;
}
.removeTeacher {
	margin-bottom:8px;
  margin-left:10px;	
}
.days {
	margin-left:-80px;
  margin-right:20px;
  margin-bottom:10px;
}