body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.brand img {
	height: 30px;
	margin-right: 5px;
	margin-top: -5px;
}

.fixed_height {
	height: 320px;
}

.footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #E5E5E5;
	background-color: whiteSmoke;
}

.justified {
	text-align: justify;
}

.centered {
	text-align: center !important;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.username {
	text-transform: capitalize;
}

.brightyellow {
  background-color : #FFFF00;
}

.yellow {
	background-color : #FFD078;
}

.red {
  background-color : #FE2E2E;
}

.inline {
	display:inline;
}

.profil {
	margin:0 5px;
}

.textRight {
	text-align : right;
}

.btn-label{
	width: 100px;
}

.blue {
	color : #2E64FE;
}

.loading {
	margin:10px;
}

.green {
	color : #088A08;
}

.redtext {
	color : #FE2E2E;
}