.selectable .ui-selecting, .selectable2 .ui-selecting {
	background: grey;
}

.selectable .ui-selected {
	background: #4BCC00;
}

.selectable2 .ui-selected {
	background: #FFF945;
}

.selectable, .selectable2 {
	list-style-type: none;
	margin: 0;
}
