.table th,.table td {
	padding: 0px;
	border-left: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
}

.day {
	width: 67px;
	border-right: 1px solid #DEDEDE;
	text-align: center;
	!
	important;
}

.hours-column {
	width: 1200px;
	height: 100px;
}

.hour,.hour-head {
	width: 49px;
	height: 100%;
	float: left;
	border-right: 1px solid rgba(240, 240, 240, 0.5);
	overflow: visible;
}

.hours-head{
	min-width: 1350px;
}

.hour-head,.hours-head {
	font-weight: bold;
	padding: 8px 0px 8px;
	height: 20px;
}

.event {
	width: 50px;
	height: 25px;
	display: inline-block;
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: rgba(0, 70, 255, 0.5);
	border-bottom: 2px solid #DEDEDE;
}

.event:hover {
	background-color: rgba(0, 70, 255, 0.3);
}

.event-name {
	height: 100%;
	width: 100%;
	padding-left: 5px;
	cursor: move;
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 30px !important;
	background-color: #999;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

#editCourse {
	width: 980px;
	height: 650px;
	margin-left: -490px;
	margin-top: -325px;
}

.conflictIcon {
	float: right;
	margin-right: 7px;
	margin-top: 4px;
}

.red{
	background-color: rgba(255,0,0,0.5);
}

.red:hover {
	background-color: rgba(255,0,0,0.3);
}

.lab{
	background-color: rgba(255,200,0,0.7);
}

.lab:hover {
	background-color: rgba(255,200,0,0.5);
}